/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 20px;
}

article {
  font-size: large;
}

h1 {
  font-size: x-large;
}

img {
  max-width: 100%;
}

section {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 10px;
}

figure {
  margin: 10px;
}

figcaption {
  font-size: 0.8em;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: xx-large;
    background-color: rgb(163, 167, 167);
  }

  article {
    font-size: medium;
  }

  body {
    margin: 40px;
  }

  section {
    justify-content: space-around;
    /* flex-wrap: nowrap; */
    max-width: 800px;
  }

  img {
    max-width: 300px;
  }
}

@media screen and (min-width: 1200px) {
    body{
        background-color: rgb(216, 241, 210);
        margin: 60px;
    }

    article{
        font-size: x-large;
        max-width: 1000px;
        text-align: justify;
    }
}
