body{
    font-family: monospace;
}

header{
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
}

header ul li{
    border: 1px solid black;
    display: inline-block;
    margin-right: 5%;
    margin-left: 5%;
    font-family: monospace;
    padding: 5px;
}

header ul li:hover{
    color: white;
    background-color: black;
}

.imagem-inicial{
    /* border: 1px solid black; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -80px;
    margin-bottom: -80px;
    width: 200px;
    image-orientation: none;
    transform: rotate(0.25turn);
}

article{
    /* border: 1px solid red; */
    margin-top: 10px;
    position: relative;
}

article h2{
    text-align: center;
}

.section-p1,.section-what, .section-where, .section-eat, .section-boxe, .section-refs{
    border: 1px solid black;
    padding: 20px 50px 10px  50px;
    width: 40%;
    display: inline-block;
    text-align: justify;
    margin-left: 20%;
    margin-top: 20px;
}

.section-p1 h3, .section-what h3, .section-where h3, .section-eat h3, .section-boxe h3{
text-align: center ;
}

.section-reinos{
    border: 1px solid black;
    /* background-color: gray; */
    /* color: white; */
    display: inline-block;
    padding-right: 20px;
    position: absolute;
    top: 135px;
    padding-top: 20px;
    padding-bottom:34px;
    margin-left: 10px;
}

.section-reinos h3{
    font-size:medium;
    text-align: center;

}
.section-reinos ul li{
    list-style: circle;
    text-align: left;
}

.section-what img, .section-where img, .section-eat img, .section-boxe img{
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
}

.section-refs{
    background-color: rgba(224, 224, 224, 0.377);
}

.section-refs a{
    text-decoration: none;
    color: black;
}
.section-refs a:hover{
    text-decoration-line: underline;
}

.video{
    /* margin-top: 15px; */
    width:450px;
    height:250px;
    display: block;
    /* float: right; */
}